{% extends 'base.html.twig' %}

{% block title %}Hello HomeControlerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if user is not null %}
        <p class="utilisateur">{{ user.name ~ '.' ~ user.surname }}</p>
    {% endif %}
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/src/Controller/HomeControlerController.php</code></li>
        <li>Your template at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/templates/home_controler/index.html.twig</code></li>
        <li>Your template at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/templates/home_controler/index.html.twig</code></li>
        
        <li>Your controller at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/src/Controller/HomeControlerController.php</code></li>
        <li>Your template at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/templates/home_controler/index.html.twig</code></li>
        <li>Your template at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/templates/home_controler/index.html.twig</code></li>
        
        <li>Your controller at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/src/Controller/HomeControlerController.php</code></li>
        <li>Your template at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/templates/home_controler/index.html.twig</code></li>
        <li>Your template at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/templates/home_controler/index.html.twig</code></li>
        
        <li>Your controller at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/src/Controller/HomeControlerController.php</code></li>
        <li>Your template at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/templates/home_controler/index.html.twig</code></li>
        <li>Your template at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/templates/home_controler/index.html.twig</code></li>
        
        <li>Your controller at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/src/Controller/HomeControlerController.php</code></li>
        <li>Your template at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/templates/home_controler/index.html.twig</code></li>
        <li>Your template at <code>/home/abillemont/HOLBERTON_PROJECT/TankManager/templates/home_controler/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
