{% extends 'base.html.twig' %}

{% block title %}New SkillStrategy{% endblock %}

{% block body %}
    <h1>Create new SkillStrategy</h1>

    {{ include('skill_strategy/_form.html.twig') }}

    <a href="{{ path('app_skill_strategy_index') }}">back to list</a>
{% endblock %}
