body {
    flex-direction: column;
    background-image: url("https://www.envogue-mainz.de/out/pictures/master/product/1/army-stoff-camouflage-l748-4-natur-oliv-braun-schwarz.jpg");
    background-size: 100%;
    text-align: center;
    width: 75%;
    margin: 0 auto;
	height: 100%;
}

.baniere-content {
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
}

.baniere-content img {
    width: 100%;
    height: 100%;
}

.baniere-content h1 {
    color: rgb(214, 204, 204);
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.nav-section {
    background-color: rgb(214, 204, 204);
    text-align: center;
    padding: 15px;
}

.nav-section a {
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

article {
    flex: auto;
    align-content: center;
    padding: 25px;
	backdrop-filter: blur(5px);
	background-color: rgba(53, 62, 13, 0.5);
}

.table-container {
    margin: 0 auto;
    display: inline-block;
    width: 80%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
}

.image {
	height: 160px;
}

.btn, #register_form_register {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
}

.btn-show {
    background-color: #28a745;
}

.btn-edit {
    background-color: #ffc107;
}

.btn-new {
    background-color: #007BFF;
    display: block;
    width: 200px;
    text-align: center;
    margin: 1rem auto;
}

h1 {
    text-decoration: underline;
}

article > p {
    text-align: justify;
    text-indent: 36px;
}

p, h1, td, label{
	color: white
}

form[name='register_form'], form[name='login_form'] {
    margin-left: 40%;
    display: inline-block;
    float: left;
    width: 200px;
    text-align: left;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 1em;
}

.form-container span {
    color: red;
}

#register_form_register {
    display: inline-block;
    margin: auto;
}

.login-container span {
    color: red;
}

.utilisateur {
    padding-right: 90%;
	font-style: italic;
}

.img-normal {
    width: 100px; /* Taille normale */
    transition: transform 0.25s ease; /* Animation douce */
}

.img-zoomed {
    transform: scale(2); /* Double la taille de l'image */
}

footer {
	background-color: rgb(214, 204, 204);
	padding: 5px;
}

footer > p {
	color: black;
}
