.baniere-content {
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
}

.baniere-content img {
    width: 100%;
    height: 100%;
}

.baniere-content h1 {
    color: rgb(214, 204, 204);
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.nav-section {
    background-color: rgb(214, 204, 204);
    text-align: center;
    padding: 15px;
}

.nav-section a {
    color: rgb(0, 0, 0);
}

body {
    flex-direction: column;
    background-image: url("https://www.envogue-mainz.de/out/pictures/master/product/1/army-stoff-camouflage-l748-4-natur-oliv-braun-schwarz.jpg");
    background-size: 100%;
}

main {
    display: flex;
    flex: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

article {
    flex: auto;
    background-color: #ffffff;
}
