<form method="post" action="{{ path('app_tank_skill_delete', {'id': tank_skill.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tank_skill.id) }}">
    <button class="btn">Delete</button>
</form>
