{% extends 'base.html.twig' %}

{% block title %}Edit TankSkill{% endblock %}

{% block body %}
    <h1>Edit TankSkill</h1>

    {{ include('tank_skill/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tank_skill_index') }}">back to list</a>

    {{ include('tank_skill/_delete_form.html.twig') }}
{% endblock %}
