{% extends 'base.html.twig' %}

{% block title %}New TankSkill{% endblock %}

{% block body %}
    {% if user is not null %}
        <p class="utilisateur">{{ user.name ~ '.' ~ user.surname }}</p>
    {% endif %}
    <h1>Create new TankSkill</h1>

    {{ include('tank_skill/_form.html.twig') }}

	<div id="back">
		<p>
    		<a href="{{ path('app_tank_skill_index') }}" class="btn">Back to list</a>
		</p>
	</div>
{% endblock %}
