{% extends 'base.html.twig' %}

{% block title %}Edit Strategy{% endblock %}

{% block body %}
    {% if user is not null %}
        <p class="utilisateur">{{ user.name ~ '.' ~ user.surname }}</p>
    {% endif %}
    <h1>Edit Strategy</h1>

    {{ include('strategy/_form.html.twig', {'button_label': 'Update'}) }}

	{% if is_granted('ROLE_ADMIN') %}
    	{{ include('strategy/_delete_form.html.twig') }}
	{% endif %}

	<div id="back">
		<p>
    		<a href="{{ path('app_strategy_index') }}" class="btn">back to list</a>
		</p>
	</div>
{% endblock %}
